html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

input {
  appearance: none;
  border: none;
  outline: none;
}

::placeholder {
  color: #888888;
}

/* Separate text styling; use for form elements
   where text styling is not inherited */
.uni_text {
  font-family: "Open Sans", sans-serif;

  font-size: 1rem;
  font-weight: 800;
  font-style: italic;
}

#uni_layout {
  --uni-margin: 1rem;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  margin: 0;

  background-color:  #222222;
  color: #444444;

  /* border: 1px solid #e77f00; */
}

#uni_center_column {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20rem;
  height: 100%;
  margin: auto;

  /* border: 1px solid #774466; */
}

#uni_codepoint_search_box {
  width: 30rem;
  height: 2rem;

  background-color: #bbbbbb;

  /* border: 1px solid #00ff2a; */
  border-radius: .1rem;
}
