html {
  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

input {
  appearance: none;
  border: none;
  outline: none;
}

::placeholder {
  color: #222;
}

/* Separate text styling; use for form elements
   where text styling is not inherited */
.uni_text {
  font-family: "Open Sans", sans-serif;

  font-size: 1rem;
  font-weight: 800;
}

#uni_layout {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  margin: 0;

  background-color:  #333;
  color: #444;

  /* border: 1px solid #e77f00; */
}

#uni_marker {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 4.25rem; */
  height: 2rem;
  margin: .5rem;
  padding: 0 .25rem 0 .15rem;

  color: #ddd;
  background-color: rgb(0, 123, 255);

  border-radius: .2rem;

  font-size: 1.5rem;
  font-weight: 800;
}

#uni_title_bar {
  box-sizing: border-box;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3rem;
  margin: 0 auto 0 auto;

  color: #222;
  background-color: #ccc;

  box-shadow: 0 .1rem .5rem #000;

  /* border-bottom: .1rem solid #454545; */

  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  /* font-style: italic; */
  /* letter-spacing: .6rem; */
}

#uni_center_column {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: auto;

  /* border: 1px solid #774466; */
}

#upper_label {
  margin: 0 0 .5rem .5rem;

  color: #bbbbbb;

  font-size: 1rem;
  font-weight: 300;
}


#uni_search_container {
  position: relative;
  top: -4rem;

  display: flex;
  flex-direction: column;

  /* border: 1px solid #774466; */
}

#uni_codepoint_search_box {
  box-sizing: border-box;

  flex: 0 0 2rem;

  width: 25rem;
  padding: .5rem;

  background-color: #bbbbbb;

  box-shadow: 0px .2rem .2rem #000;

  /* border: 1px solid #00ff2a; */
  border-radius: .1rem;
}
